
.wraps{ width: 100%; min-width: 1300px; overflow: hidden; max-width: 1920px; margin: 0 auto; }


.down_zone{ width: 100%; position: absolute; left: 0; bottom:70px ;}
.down_z{ width: 4.6rem; margin: 0 auto;}
.down_code{ width: 2rem; height: 2rem;float: left;}
.down_btns{ width: 2.4rem; float: right;}
.down_btn1{ width: 100%; height: 0.8rem; background: url(//game.gtimg.cn/images/lv/web202106/apple_btn.png) no-repeat; background-size: 100% auto; display: block; margin-bottom: 0.4rem; text-indent: -9999px;}
.down_btn2{ width: 100%; height:  0.8rem;background: url(//game.gtimg.cn/images/lv/web202106/android_btn.png) no-repeat; background-size: 100% auto; display: block;  text-indent: -9999px;}
.p1_dz{ width: 21.5%; position: absolute; right: 0.3rem; bottom: 0.8rem;}
.news_content{ width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.w1200{ width: 12.2rem; margin: 0 auto; padding-top: 1.4rem;}

.left_banners{ width: 5.56rem; padding-top: 1rem ; float: left;}
.left_swiper{ width: 100%; height: 3.2rem;}
.swiper-banner{ width: 100%; height: 100%;}
.swiper-banner .swiper-pagination{ text-align: left;}
.swiper-pagination-bullet{ width: 0.25rem; height: 0.25rem; background: url(//game.gtimg.cn/images/lv/web202106/old.png) no-repeat; background-size: 100% auto; opacity: 1; margin: 0 0.2rem 0 0;}
.swiper-pagination-bullet-active{ background: url(//game.gtimg.cn/images/lv/web202106/new.png) no-repeat; background-size: 100% auto;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{ margin: 0 0.1rem;}


.left_news{ float: left; width: 6.1rem; margin-left: 0.4rem; padding-top: 0.1rem;}
.news_navs{ width: 100%;}
.news_navs ul li{ float: left; font-size: 0.32rem; margin-right: 0.35rem; cursor: pointer; color: #ffffff; font-family: fzz; width: 1.24rem; height: 0.6rem; line-height: 0.6rem; background: url(//game.gtimg.cn/images/lv/web202106/star.png) center right no-repeat; background-size: 0.15rem 0.15rem;}
.news_navs ul li:last-child{ margin-right: 0px; background: none;}
.news_navs ul li.active{ color: #b3905d;}
.news_navs ul li:hover{ color: #b3905d;}
.new_contents{ width: 100%; padding-top: 0.08rem;}
.new_con ul{ min-height: 3rem;}
.new_con ul li{ height: 0.58rem; line-height: 0.58rem; border-bottom: 1px solid #454545;}
.new_con ul li:last-child{ border-bottom: 0 none;}
.new_con ul li a{ font-size: 0.2rem; color: #ffffff;}
.new_con ul li a span.new_title{ width: 4rem; display: inline-block; overflow: hidden; word-break: break-all; white-space: nowrap; text-overflow: ellipsis;}
.new_con ul li a span.new_time{ display: inline-block; float: right;}
.new_con ul li a:hover{ color: #ababab;}
.new_con{ display: none; color: #fff;}
.new_con:first-child{ display: block;}
.more_news{ width: 100%; padding-top: 0.2rem; text-align: right; }
.more_news a{ display: block; float: right; width: 0.95rem; height: 0.46rem; background: url(//game.gtimg.cn/images/lv/web202106/more_btn.png) no-repeat; background-size: 100% auto; text-indent: -9999px; }
.gicpnews-status--2 { text-align: center; line-height: 50px;}

.page1{ background: url(//game.gtimg.cn/images/lv/web202106/kvposter.jpg) no-repeat; background-size: 100% auto; height: 8.6rem;}


/* .js_nav ul li:hover .slice{ display: block;}
.js_nav ul li:hover .nav_bg{ display: block;} */

video{ width: 100%; display: block;}


.vision_main{ width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.vision_con{ width: 12.8rem; margin: 0 auto; padding-top: 2.2rem; overflow: hidden;}
.vision_swp{ width: 100%; height: 6.1rem;  position: relative;}



.lswiper {
    width: 100%;
    height: 100%;
    position: relative;
}
.lswiper .pic {
    width: 100%;
    height: 100%;
    position: relative;
}

.lswiper .pic li {

    transition: transform 0.5s , opacity 0s;
    width: 8rem;
    height: 4.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4rem;
    margin-top: -2.4rem;
    /* overflow: hidden; */
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.lswiper .pic li img {
    width: 100%;

}

.lswiper .pic li.now {
    z-index: 9;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.lswiper .pic li.next {
    z-index: 6;
    -webkit-transform: translateX(2.1rem);
    -moz-transform: translateX(2.1rem);
    -o-transform: translateX(2.1rem);
    -ms-transform: translateX(2.1rem);
    transform: translateX(2.1rem);
}

.lswiper .pic li.prev {
    z-index: 6;
    -webkit-transform: translateX(-2.1rem);
    -moz-transform: translateX(-2.1rem);
    -o-transform: translateX(-2.1rem);
    -ms-transform: translateX(-2.1rem);
    transform: translateX(-2.1rem);
}






.leftbtn,.rightbtn{ display: block; position: absolute; top: 40%; width: 1.2rem; height: 1.2rem;  z-index: 10; cursor: pointer;}
.leftbtn{ left: 2.5rem; background: url(//game.gtimg.cn/images/lv/web202106/prev.png) no-repeat; background-size: 100% auto;}
.rightbtn{ left: auto; right:2.5rem;; background: url(//game.gtimg.cn/images/lv/web202106/next.png) no-repeat; background-size: 100% auto;}


.lswiper .pic li .vitm_pic{ width: 4.8rem; position: absolute; left: -1.3rem; top: 2.9rem; opacity: 0; transition: all ease 0.6s; text-align: left; transform: scale(0.9);}
.lswiper .pic li .play_btn{ display: block; width: 1.44rem; height: 0.6rem; background: url(//game.gtimg.cn/images/lv/web202106/play.png) no-repeat; background-size: 100% auto; position: absolute; right: 0.3rem; top: 3.95rem; text-indent: -9999px;transform: scale(0.9); opacity: 0;transition: all ease 0.6s;}


.lswiper .pic li.now .vitm_pic{opacity: 1;}
.lswiper .pic li.now  .play_btn{ opacity: 1;}

.lswiper .pic li.now .zy_item img{ opacity: 1;}

.vitm_pic:after{ content: " "; display: block; width: 100%; height: 0.25rem; position: absolute; background: rgba(0, 0, 0, 0.75); left: 0; top: 1.2rem; z-index: 4;}
.vitm_p1{ color: #ffffff; font-size: 0.62rem; font-style: italic; line-height: 1.1; padding-left: 0.3rem; position: relative; z-index: 5;}
.vitm_p2{ color: #ffffff; font-size: 0.32rem; font-style: italic;line-height: 1.6; padding-left: 0.3rem;position: relative; z-index: 5; letter-spacing: 0.08rem;}
.vitm_p3{ color: rgba(255,255, 255, 0.77); font-size: 0.2rem; font-style: italic;line-height: 1.1; padding-left: 0.3rem;position: relative; z-index: 5; letter-spacing: 0.2rem;}













.vision_swp .swiper-container{ width: 100%; height: 100%; overflow: hidden;}

.zyswiper .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: left;
    width: 80%;
}

.zy_item{ background:rgba(51,51,51,0.35);}
.zy_item img{ opacity:0.2;}



.zy_next,.zy_prev{ display: block; width: 1.2rem; height: 1.2rem; position: absolute; left: 0; top: 4.4rem; z-index: 10; cursor: pointer;}
.zy_prev{ left: 2.5rem; background: url(//game.gtimg.cn/images/lv/web202106/prev.png) no-repeat; background-size: 100% auto;}
.zy_next{ left: auto; right:2.5rem;; background: url(//game.gtimg.cn/images/lv/web202106/next.png) no-repeat; background-size: 100% auto;}
.vision_ms{ width:100% ; position: absolute; left: 0; top: 4.2rem; z-index: 4;}
.visiont_ms_item{ width: 100%; position: absolute; left: 0; top: 0; display: none; }
.visiont_ms_item:first-child{ display: block;}
.vitm_pic{ width: 4.07rem; }
.swiper-slide .vitm_pic{ width: 4.07rem; position: absolute; left: -1.3rem; top: 3.8rem; opacity: 0; transition: all ease 0.6s; text-align: left;}
.swiper-slide .play_btn{ display: block; width: 1.51rem; height: 0.63rem; background: url(//game.gtimg.cn/images/lv/web202106/play.png) no-repeat; background-size: 100% auto; position: absolute; right: 0.3rem; top: 4.9rem; text-indent: -9999px; opacity: 0;transition: all ease 0.6s;}


.swiper-slide-active .vitm_pic{opacity: 1;}
.swiper-slide-active .play_btn{ opacity: 1;}

.vitm_pic:after{ content: " "; display: block; width: 100%; height: 0.25rem; position: absolute; background: rgba(0, 0, 0, 0.75); left: 0; top: 1.2rem; z-index: 4;}
.vitm_p1{ color: #ffffff; font-size: 0.62rem; font-style: italic; line-height: 1.1; padding-left: 0.4rem; position: relative; z-index: 5;}
.vitm_p2{ color: #ffffff; font-size: 0.32rem; font-style: italic;line-height: 1.6; padding-left: 0.4rem;position: relative; z-index: 5; letter-spacing: 0.08rem;}
.vitm_p3{ color: rgba(255,255, 255, 0.77); font-size: 0.2rem; font-style: italic;line-height: 1.1; padding-left: 0.4rem;position: relative; z-index: 5; letter-spacing: 0.2rem;}







.play_btn{ display: block; width: 1.51rem; height: 0.63rem; background: url(//game.gtimg.cn/images/lv/web202106/play.png) no-repeat; background-size: 100% auto; position: absolute; right: 1.6rem; top: 1rem; text-indent: -9999px;}
.vision_ld{ padding-top: 1.2rem;}
.vld_swiper{ width: 14rem; margin: 0 auto;}
.ldswiper .swiper-slide p { display: block; position: absolute; left: 0; bottom: 0; padding-left: 0.1rem; color: #ffffff; font-size: 0.24rem; line-height: 0.4rem;}
.ldswiper .swiper-slide{ width: 3.3rem; opacity: 0.4; margin: 0  0 0 0.2rem; cursor: pointer;}
.ldswiper .swiper-slide-active{ opacity: 1;}

.tese_con{ width: 98%; height: 100%; position: absolute; left: 0rem; top: 0; overflow: hidden;}
@media screen and ( min-width: 1900px){
    /*  .tese_con{ left: 5.6rem;} */


}


.tese_main{width: 14rem;padding-top: 2.3rem; margin: 0 auto; margin-left: calc(4.5rem + 100px); }
.ts_swiper{ width: 100%; height: 8rem; margin-top: -1rem;}
.tsswiper { width: 100%;}
.tsswiper .swiper-slide{ width:20%; margin-right:2%; }
.tsswiper .tss{ background: #000000; }
.tsswiper .tss img{ opacity: 0.1;}
.tsswiper .swiper-slide-active  .tss{ transform: scale(1.1);}
.tsswiper .swiper-slide-active  .tss img{opacity: 1; }
.ts_h{ width: 100%;}
.tsswiper .swiper-slide-active  .ts_h{ display: none;}
.addor{ width: 18.7rem; position: absolute; right: 0rem; top:7rem; z-index: 7; pointer-events: none;}
.code_down{ width: 153px; height:247px; position: fixed; right: 0px; top: 300px; z-index: 999; transition: all 0.5s ease; transform: translate(121px,0);}
.expend{ width: 32px; height: 100%; display: block; float: left; position: relative; background: url(//game.gtimg.cn/images/lv/web202106/exp1.png) no-repeat; background-size: 100% auto; text-indent: -9999px; z-index: 1001;}
.expd{background: url(//game.gtimg.cn/images/lv/web202106/exp2.png) no-repeat; background-size: 100% auto;}
.code_exp{ transform: translate(0,0);}



.dianzhui{ width: 18.9rem; position: absolute; left: 0; top: 16rem; z-index: 99; pointer-events: none;}





/* 浜虹墿鍒囨崲鍔ㄧ敾 */
.js_tz{ width: 100%; position: absolute; left: 0 ; top: 0; z-index:2;}
.js_title{ display: block; width: 8.5rem; margin: 0 auto;}
.js_con{ width: 100%; height: 14.15rem; overflow: hidden; position: relative; background: url(//game.gtimg.cn/images/lv/web202106/rw_bg.jpg) center top no-repeat; background-size: 100% auto;}
.js_item{ width: 100%; position: absolute; left: 0; top: 0; display: none;}
.js_item:first-child{ display: block;}
.js_nav{ width: 2.2rem; position: absolute; right: 0.5rem; top: 3.3rem;}
.js_nav ul li{ width: 100%; position: relative; height: 1.8rem; text-align: right; color: #333333; font-size: 0.36rem; cursor: pointer;  font-family: "fzzjhjt"; transition:all 0.2s 0.1s ease; }
.js_nav ul li span{ letter-spacing: 0.2rem;}
.js_nav ul li .slice{ width: 0; text-align: left; position: absolute; position: absolute; left: 0; top:0.6rem;  border-top: 1px solid  #9b7a58; font-size: 0.14rem; color: #9b7a58; letter-spacing: .04rem; transition:all 0.4s 0.1s ease;  opacity:0; }
.nav_bg{ opacity: 0; width: 2.62rem; height: 2.56rem; position: absolute; left:-1.6rem ; top: -1.2rem; transition:all 0.4s 0.3s ease;  transform: scale(.1S);}
.nav_bg1{ height: 2.71rem; background: url(//game.gtimg.cn/images/lv/web202106/nav_bg1.png) left center no-repeat ;background-size: 100% auto;}
.nav_bg2{ height: 2.71rem; background: url(//game.gtimg.cn/images/lv/web202106/nav_bg2.png) left center no-repeat ;background-size: 100% auto;}
.nav_bg3{ height: 2.71rem; background: url(//game.gtimg.cn/images/lv/web202106/nav_bg3.png) left center no-repeat ;background-size: 100% auto;}
.nav_bg4{ height: 2.71rem; background: url(//game.gtimg.cn/images/lv/web202106/nav_bg4.png) left center no-repeat ;background-size: 100% auto;}
.nav_bg5{ height: 2.71rem; background: url(//game.gtimg.cn/images/lv/web202106/nav_bg5.png) left center no-repeat ;background-size: 100% auto;}

.rwtxt{ position: absolute; left: 0rem; top: 3.33rem; opacity: 0; }
.rwtxt1{ width: 4.89rem;}
.rwtxt2{ width: 7.06rem;}
.rwtxt3{ width: 6.23rem;}
.rwtxt4{ width: 4.83rem;}
.rwtxt5{ width: 3.77rem;}


@keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;}

}

.act .fadeIn{animation: fadeIn 0.6s 0.1s ease forwards;}





.js_nav ul li:hover{ color: #ffffff;}


.js_nav ul li.active{ color: #ffffff;}
.js_nav ul li.active .slice{ opacity: 1;width: 1.85rem;}
.js_nav ul li.active .nav_bg{ opacity: 1;  transform: scale(1);  }


@keyframes left_txt{
    0%{ opacity: 0; transform: translate(0,-1rem); }
    100%{ opacity: 1; transform: translate(0,0rem);}
}


.left_txt{ position: absolute; opacity: 0;   }

.act .left_txt{animation: left_txt 0.6s 0.4s ease forwards;}







.left_txt .left_txt_ov{ width: 100%; overflow: hidden;}
.left_txt1{ width: 4.27rem; height: 3.03rem; top: 6.3rem; left: 3.48rem;}
.act .left_txt1 img{  width: 4.27rem; height: 3.03rem;  }
.left_txt2{ width: 4.57rem; height:3.09rem; top: 6.3rem; left: 3.48rem;}
.act .left_txt2 img{  width: 4.57rem; height:3.09rem;  }
.left_txt3{ width: 3.93rem; height: 3.07rem; top: 6.3rem; left: 3.8rem;}
.act .left_txt3 img{  width: 3.93rem; height: 3.07rem;  }
.left_txt4{ width: 3.76rem; height: 3.06rem; top: 6.15rem; left: 3.9rem;}
.act .left_txt4 img{  width: 3.76rem; height: 3.06rem;  }
.left_txt5{ width: 4.03rem; height: 3.06rem; top: 6.28rem; left: 3.75rem;}
.act .left_txt5 img{  width: 4.03rem; height: 3.06rem;  }
@keyframes rwpic{
    0%{ opacity: 0; transform: scale(1.2);}
    100%{ opacity: 1; transform: scale(1);}
}
.rwpic{ width: 8rem; height: 10.25rem; position: absolute; top: 2.1rem; left: 8.2rem; opacity: 0; }
.act .rwpic{animation: rwpic 0.6s 0.1s ease forwards;}

.rwpic_box1{ width: 5.55rem; height: .6rem; background: rgba(0,0,0,0.7); position: absolute; top: 7.24rem; left: 1.65rem; transition:all 0.6s 0.4s ease; transform:translate(0,-1rem); opacity:0; position: absolute;}
.rwpic_box2{ width: 5.55rem; height: 1.2rem; background: rgba(0,0,0,0.7); position: absolute; top: 8.07rem; left: 1.65rem;transition:all 0.6s 0.4s ease; transform:translate(0,-1rem); opacity:0; position: absolute;}

.act .rwpic_box1 { transform:translate(0,0); opacity:1;}
.act .rwpic_box2 { transform:translate(0,0); opacity:1;}

a.btn_yp{ background: url(//game.gtimg.cn/images/lv/web202106/rw_lb_yy.png) no-repeat; width: .37rem; height: .18rem; background-size: 100%; margin-right: .22rem;}


@keyframes rwtips{
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.lbtips{animation: rwtips 0.6s 0.8s ease forwards; opacity: 0; }
.rwtips2pa{ display: flex; position: absolute; height: 0.61rem; line-height: 0.61rem; top: 0rem; right: 0.1rem;}
.rwpic1 .rwtips1{ width: 1.72rem; height: .28rem; position: absolute; top: -.06rem; left: .2rem;}
.rwpic1 .rwtips2{ width: 2.85rem; height: .22rem; }
.rwpic1 .rwtips3{ width: 4.85rem;  position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);}

.rwpic2 .rwtips1{ width: 1.09rem; height: .28rem; position: absolute; top: -.06rem; left: .2rem;}
.rwpic2 .rwtips2{ width: 3.1rem; height: .22rem; }
.rwpic2 .rwtips3{ width:5.19rem; position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);}


.rwpic3 .rwtips1{ width: 1.51rem; height: .28rem; position: absolute; top: -.06rem; left: .2rem;}
.rwpic3 .rwtips2{ width: 2.86rem; height: .22rem; }
.rwpic3 .rwtips3{ width:5.16rem; position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);}


.rwpic4 .rwtips1{ width: 1.86rem; height: .28rem; position: absolute; top: -.06rem; left: .2rem;}
.rwpic4 .rwtips2{ width:1.06rem; height: .23rem; }
.rwpic4 .rwtips3{ width:4.23rem;  position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);}


.rwpic5 .rwtips1{ width: 1.24rem; height: .28rem; position: absolute; top: -.06rem; left: .2rem;}
.rwpic5 .rwtips2{ width:1.3rem; height: .23rem; }
.rwpic5 .rwtips3{ width:5.27rem; position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);}



.lb1_tips1{ width: 1.41rem; position: absolute; top: 6.05rem; left: 5.68rem; }
.lb1_tips2{ width: .95rem; position: absolute; top: 9.85rem; left: 15.23rem; }

.lb2_tips1{ width: 1.21rem; position: absolute; top: 6.25rem; left: 6rem; }
.lb2_tips2{ width: 1.34rem; position: absolute; top: 10.15rem; left: 15rem; }

.lb3_tips1{ width: 1.22rem; position: absolute; top: 6.15rem; left: 5.45rem; }
.lb3_tips2{ width: 1.39rem; position: absolute; top: 11.05rem; left: 14.45rem; }

.lb4_tips1{ width: .46rem; position: absolute; top: 6.15rem; left: 6.15rem; }
.lb4_tips2{ width: .38rem; position: absolute; top: 10.55rem; left:15.95rem; }


.lb5_tips1{ width: 1.97rem; position: absolute; top: 5.85rem; left: 6rem; }
.lb5_tips2{ width: 1.76rem; position: absolute; top: 11.25rem; left: 13.75rem; }


@keyframes bgdd{
    0%{
        opacity: 1; transform: scale(1);
    }
    50%{
        opacity: .3; transform: scale(1.01);
    }
    100% {
        opacity: 1; transform: scale(1);
    }
}

.bgdd{ background: url(//game.gtimg.cn/images/lv/web202106/bgdd.png) no-repeat; width: 18.54rem; height: 7.83rem; background-size: 100%; position: absolute; top: -.7rem; left: .4rem; animation: bgdd 2s linear infinite; pointer-events: none;}

.w2_tips{ background: url(//game.gtimg.cn/images/lv/web202106/w2_tips.png) no-repeat; width: .96rem; height: .9rem; background-size: 100%; position: absolute; top: 1.56rem; left:3.35rem; z-index: 2;}

.p5_dianzhui{ width: 15.22rem; position: absolute; right: 0.42rem; top:0rem; z-index: 4; pointer-events: none;}

.p4_dianzhui{ width: 13.92rem; position: absolute; left: 0.3rem; top:-0.5rem; z-index: 4; pointer-events: none;}


.p5_nums{ width:2.1rem; position: absolute; left: 0rem; top: 0.4rem; }
.p5_num{ display: none; position: absolute; left: 0; top: 0; width: 100%;}
.p5_num:first-of-type{ display: block;}
.codes{ position: relative;}
a.gzh{ width: 76%; height: 40px; display: block; position: absolute; right: 0; top: 171px; text-indent: -9999px;}
a.gzwb{ width: 76%; height: 40px; display: block; position: absolute; right: 0; top:215px; text-indent: -9999px;}





.masks{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999; background: rgba(0, 0, 0, 0.8); display:none; }
.mask_con{ width: 880px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); border: 3px solid rgb(155,122,88); background: #000000;}
.mask_close{ width: 51px; height: 53px; position: absolute; right: -69px; top: 0px; background: url(//game.gtimg.cn/images/lv/web202106/mask_close.png) no-repeat; text-indent: -9999px; }


.pointers{ width: 1rem; position: fixed; left: 0; top: 0; display: none; z-index: 9999; pointer-events: none;}
.pointers img{ width: 100%; display: block;}




.swiper1{ width: 14rem; margin: 0 auto; overflow: hidden;}
.swiper1 .swiper-slide{ width: 5rem; margin-right: -1.58rem; perspective: 1000px; }
.box{ position: relative;}
.swiper1 .swiper-slide>.box{ transition: all 0.6s ease; position: relative;transform: scale(0.6); background: #000000; }
.swiper1 .swiper-slide>.box>img{ opacity: 0.1;}
.swiper1 .swiper-slide-prev{  transform-style: preserve-3d; transform:perspective(1000px); margin-right: -2rem;  }
.swiper1 .swiper-slide-prev>.box{  transform: scale(0.6) rotateY(20deg); filter: blur(3px);}
.swiper1 .swiper-slide-active>.box{ opacity: 1; transform: scale(0.7);}
.swiper1 .swiper-slide.swiper-slide-active>.box>img{ opacity: 1;}
.swiper1 .swiper-slide-active{   margin-right: -0.8rem;  }
.vpic_mask{ display: none;}


.vpic_mask{ width:141%; position: absolute; left: -22%; top: -6%;}
.swiper1 .swiper-slide-active>.box .vpic_mask{ display: block;}

.swiper1.swiper-container-horizontal>.swiper-pagination-bullets, .swiper1.swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 0.6rem;}
.swiper1.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{ margin: 0  0 0 0.2rem;}

.rwtips2pa{ width: 100%; font-size: 0.24rem; color: #ffffff;  justify-content: flex-end; flex-wrap: nowrap;}
.rwtips2pa a{ display: block;color: #ffffff; font-family: 'fzzjh'; position: relative; }
.rwtips2pa span{ padding: 0 0.1rem;}
.rwtips2pa a:hover{ color: #9b7a58;}
.rwtips2pa a.active{padding-left: 0.55rem; margin-left: 0.1rem;color: #9b7a58;}






.music_content{ width:0.37rem; height:0.18rem; text-align:center; display: none; transform:rotate(90deg); position: absolute; left: 0; top:0;}
.lins{ height:0.03rem; display: block; background:#9b7a58; border-radius:3px; margin:0.04rem auto;}

.mov1{ animation:mov1 0.8s infinite linear;}
.mov2{ animation:mov2 0.8s infinite linear;}
.mov3{ animation:mov3 0.8s infinite linear;}

.hei1{ width:10%;}
.hei2{ width:80%;}
.hei3{ width:20%;}

@keyframes mov1{
    0%{ width:10%;}
    50%{ width:30%;}
    100%{ width:10%;}
}

@keyframes mov2{
    0%{ width:30%;}
    50%{ width:15%;}
    100%{ width:30%;}
}
@keyframes mov3{
    0%{ width:20%;}
    50%{ width:60%;}
    100%{ width:20%;}
}


.rwtips2pa a.active .music_content{display: table;}

.canvas{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 5; pointer-events: none;}





.popup_video{ width: 1000px; height: 600px;  border: 3px solid rgb(155,122,88); background: #000000; display: none;}
.close-btn{ width: 51px; height: 53px; position: absolute; right: -69px; top: 0px; background: url(//game.gtimg.cn/images/lv/web202106/mask_close.png) no-repeat; text-indent: -9999px; }


.pop-v {
    width: 1000px;
    height: 600px;
}


.applicable{ position: absolute; bottom: 0.2rem; left: 0.2rem; width: 1rem; display: block; z-index: 5;}
.applicable_title{ color: #fff; font-size: 30px; font-weight: bold; margin-bottom: 10px;}
.applicable_text{ color: #fff; font-size: 16px; margin-bottom: 10px;}
.applicable_tab{ padding: 40px 20px;}
