
.wraps{ width: 100%; min-width: 1300px; overflow: hidden; max-width: 1920px; margin: 0 auto; }


.down_zone{ width: 100%; position: absolute; left: 0; bottom:70px ;}
.down_z{ width: 4.6rem; margin: 0 auto;}
.down_code{ width: 2rem; height: 2rem;float: left;}
.down_btns{ width: 2.4rem; float: right;}
.p1_dz{ width: 21.5%; position: absolute; right: 0.3rem; bottom: 0.8rem;}
.news_content{ width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.w1200{ width: 12.2rem; margin: 0 auto; padding-top: 1.4rem;}

.left_banners{ width: 5.56rem; float: left;}
.left_swiper{ width: 100%; height: 3.2rem;}


.left_news{ float: left; width: 6.1rem; margin-left: 0.4rem; padding-top: 0.1rem;}
.news_navs{ width: 100%;}
.news_navs ul li{ float: left; font-size: 0.32rem; margin-right: 0.35rem; cursor: pointer; color: #ffffff; font-family: fzz; width: 1.24rem; height: 0.6rem; line-height: 0.6rem; background: url("../img/star.png") center right no-repeat; background-size: 0.15rem 0.15rem;}
.news_navs ul li:last-child{ margin-right: 0px; background: none;}
.news_navs ul li.active{ color: #b3905d;}
.news_navs ul li:hover{ color: #b3905d;}
.new_contents{ width: 100%; padding-top: 0.08rem;}
.new_con ul{ min-height: 3rem;}
.new_con ul li{ height: 0.58rem; line-height: 0.58rem; border-bottom: 1px solid #454545;}
.new_con ul li:last-child{ border-bottom: 0 none;}
.new_con ul li a{ font-size: 0.2rem; color: #ffffff;}
.new_con ul li a span.new_title{ width: 4rem; display: inline-block; overflow: hidden; word-break: break-all; white-space: nowrap; text-overflow: ellipsis;}
.new_con ul li a span.new_time{ display: inline-block; float: right;}
.new_con ul li a:hover{ color: #ababab;}
.new_con{ display: none; color: #fff;}
.new_con:first-child{ display: block;}
.more_news{ width: 100%; padding-top: 0.2rem; text-align: right; }
.more_news a{ display: block; float: right; width: 0.95rem; height: 0.46rem; background: url("../img/more_btn.png")no-repeat; background-size: 100% auto; text-indent: -9999px; }
.gicpnews-status--2 { text-align: center; line-height: 50px;}


/* .js_nav ul li:hover .slice{ display: block;}
.js_nav ul li:hover .nav_bg{ display: block;} */

/** swiper*/

#news_swiper .swiper-pagination-bullet {
  background: #fff;
}

#news_swiper .swiper-pagination-bullet-active {
  background: #b3905d;
}